<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://web20170302090107.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <ProjectGuid>c70c2632-9237-4945-bdd8-601b0c680a50</ProjectGuid>
    <MSDeployServiceURL>web20170302090107.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Web20170302090107</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Web20170302090107</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/daae1e1a-63dc-454f-825d-b39289070f79/resourcegroups/bikesharing-acr/providers/Microsoft.Web/sites/Web20170302090107</ResourceId>
    <ContainerResourceId>/subscriptions/daae1e1a-63dc-454f-825d-b39289070f79/resourcegroups/dockerdemos-RG/providers/Microsoft.ContainerRegistry/registries/dockerdemos</ContainerResourceId>
    <ContainerResourceName>dockerdemos</ContainerResourceName>
    <ResourceGroup>bikesharing-acr</ResourceGroup>
    <Subscription>SteveLas-Internal</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://dockerdemos-microsoft.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>